<div class="container">
  <div class="row justify-content-start flex-nowrap">
    <div class="col-2 justify-content-center" [class.hidden]="hideChats" (click)="hideChats = this.toggleLock">
      <ul *ngIf="!!chats" class="chat-list">
        <li *ngFor="let username2 of chats | chatUsername : username" class="chat-list-item">
          <a href="" [routerLink]="[username2]" routerLinkActive="true" class="chat-list-item-link">{{ username2 }}</a>
        </li>
      </ul>
    </div>
    <div class="col-1 d-flex d-xl-none d-lg-none toggle">
      <button class="btn text-nowrap" (click)="hideChats=!hideChats">
        <mat-icon [class.flip-arrow-side]="!hideChats">
          keyboard_arrow_right
        </mat-icon>
      </button>
    </div>
    <div class="col-auto" id="chatDetailsView" (click)="this.hideChats = this.toggleLock;"  [class.hidden]="!hideChats">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
</div>
